@import "tailwindcss";

@theme {
  --color-brand-green: #1e3932;
  --color-brand-beige: #f9f6f1;

  --font-family-serif: 'Calistoga', serif;
  --font-family-sans: 'Inria Sans', sans-serif;
}

nav a.active-link,
#menu a.active-link {
  text-decoration: underline !important;
  text-underline-offset: 4px;
  font-weight: 500;
}
